# Python
__pycache__/
*.py[cod]

# Notebooks
*.ipynb_checkpoints

# Virtual Envs
Mindhaven_Chatbot/
*.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/

# System
.DS_Store

# Model files
backend/app/model/mindhaven_t5_model_tf/

