# Ignore Python virtual environments
Mindhaven_Chatbot/

# Ignore model directory
backend/app/model/mindhaven_t5_model_tf/

# Ignore Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore notebook metadata
*.ipynb_checkpoints

# Ignore environment files
.env
.env.*

# Ignore frontend build artifacts
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Ignore macOS/system files
.DS_Store

# Ignore log files
*.log

